#footer {
	font-size: 0.75em;
	text-align: center;
	padding: 5px;
}

.clearfix {
	clear: both;
}

/* override collapsible icons as jqm 1.1 doesn't allow this function */


.ui-collapsible.ui-collapsible-collapsed .ui-collapsible-heading .ui-icon-plus,
.ui-icon-arrow-u { background-position: -216px 0; }
.ui-collapsible .ui-collapsible-heading .ui-icon-minus,
.ui-icon-arrow-d { background-position: -180px 0; }

.ui-collapsible-set {
	max-width: 900px !important;
	margin: 10px auto !important;
	position: relative !important;
}

.ui-collapsible-content {
	border: solid 1px #ccc;
	border-top: none;
}