<!DOCTYPE html>
<html>
<head>
<meta lang="en">
<title>ICLT Email Listener</title>

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css">
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
<meta name="viewport" content="target-densitydpi=medium-dpi, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="css/iclt.css">
<script src="js/iclt.js"></script>

</head>
<body>

<div data-role="page" data-theme="c" data-content-theme="c">

	<div data-role="header" data-position="fixed">
		<h1>ICLT Email Listener</h1>
	</div><!-- /header -->


	<div data-role="collapsible-set">

		<div id="fieldTechCollapsible" data-role="collapsible" data-collapsed="false" data-iconpos="right">
			<h3>Field Technician</h3>
			<fieldset data-role="controlgroup" id="fieldTechList">
{% for fieldTech in data.fieldTechs %}
				<input type="radio" name="fieldTech" id="fieldTech_{{ fieldTech.id }}" value="{{ fieldTech.id }}" class="sectionOption fieldTechs">
					<label for="fieldTech_{{ fieldTech.id }}">{{ fieldTech.name }}</label>
{% endfor %}
			</fieldset>
		</div><!-- /collapsible -->
	
		<div id="ticketTypeCollapsible" data-role="collapsible" data-iconpos="right">
			<h3>Ticket Type</h3>
			<fieldset data-role="controlgroup" id="ticketTypeList">
{% for type in data.types %}
				<input type="radio" name="ticketType" id="type{{ type }}" value="{{ type }}" class="sectionOption types">
					<label for="type{{ type }}">{{ type }}</label>
{% endfor %}
			</fieldset>
		</div><!-- /collapsible -->
	
		<div id="serviceCollapsible" data-role="collapsible" data-iconpos="right">
			<h3>Service</h3>
			<fieldset data-role="controlgroup" id="serviceList">
{% for service in data.services %}
{% set serviceId = service.name|lower|replace({" ":"."}) %}
				<input type="radio" name="service" id="service_{{ serviceId }}" value="{{ service.name }}" class="sectionOption services">
					<label for="service_{{ serviceId }}">{{ service.name }}</label>
{% endfor %}
			</fieldset>
		</div><!-- /collapsible -->
	
		<div id="categoryCollapsible" data-role="collapsible" data-iconpos="right">
			<h3>Category</h3>
			<fieldset data-role="controlgroup" id="categoryList">
{% for service in data.services %}
{% set serviceId = service.name|lower|replace({" ":"."}) %}
{% for category in service.categories|sort %}
{% set categoryId = category.name|lower|replace({" ":"."}) %}
				<input type="radio" name="category" id="category_{{ serviceId }}_{{ categoryId }}" value="{{ category.name }}" class="sectionOption categories">
					<label for="category_{{ serviceId }}_{{ categoryId }}">{{ service.name }} - {{ category.name }}</label>
{% endfor %}
{% endfor %}
			</fieldset>
		</div><!-- /collapsible -->
	
	</div><!-- /collapsible-set -->

	<div data-role="footer" id="footer" data-position="fixed" data-theme="c">
		<p>&copy; Paul Sheean 2012</p>
	</div><!-- /footer -->

</div><!-- /page -->

</body>
</html>
