{% extends "layout.html.twig" %}

{% block content %}
<div id="pageTwo" data-role="page" data-theme="c" data-content-theme="c">

	<div data-role="header" data-position="fixed" data-tap-toggle="false" data-id="header">
		<h1>ICLT Email Listener</h1>
	</div><!-- /header -->
	hi there
	
	{% for field in post %}
		{{ field|raw }}
	{% endfor %}
</div><!-- /page -->
{% endblock %}